.login {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-icon {
    height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
}